body {
    position: relative;
    height: 100vh;
    border-radius: 0.5%;
    border-color: white;
    border-width: 8px;
    border-style: solid;
    background-color: gray;
}

header {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: auto;
    width: 150px;
}

.menu-item:hover {
    background-color: lightgrey;
    color: black;
}


.menu {
    position: fixed;
    float: left;
    padding: 20px;
    width: 200px;
}


.box {
    background-color: lightyellow;
    box-sizing: border-box;

    position:relative;
    top: 15vh;
    left: 0%;
    
    width: 60%;
    height: 60%;

    margin: auto;
    border-style: solid;
    border-width: 10px;
    border-color: gray;
    border-radius: 20px;
    padding: 5px;
}

.form {
    width: auto;
}

footer {
    position: relative;
    top: 28vh;
}

.input {
    background-color: lightgray;
    border-radius: 3px;
    border-color: black;
}

.spotify-input {
    width: 300px;
    height: 30px;
    padding-left: px;
}

#inputGroupSelect01 {
    background-color: lightgray;
    border-radius: 3px;
    border-color: black;
}

.botton-border {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

.config-spacing {
    padding-right: 20px;
}

#config-confirm-button {
    width: 200px;
    background-color: green;
    color: white;
    border-radius: 6px;
    border-color: transparent;
}

#config-restore-button {
    width: 200px;
    background-color: darkblue;
    color: white;
    border-radius: 6px;
    border-color: transparent;
}

#search-input {
    width: 400px;
}

#search-button {
    width: 400px;
    background-color: darkblue;
    color: white;
    border-radius: 6px;
    border-color: transparent;
}






/* W3schools togle switch href='https://www.w3schools.com/howto/howto_css_switch.asp' */

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ddd;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #444;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #6a6a6a;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
